/*google font 'poppins'*/
body{
    padding:0;
    margin:0;
    background-color: #131312;
    box-sizing: border-box;
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'poppins',sans-serif;
}
header{
    width:85%;
    height: 95%;
    border:1px solid #fff;
    display:flex;
    flex-wrap: wrap;
    overflow:hidden;
}
header .menu_side, .song_side{
    position:relative;
    width:25%;
    height:90%;
    /* border:1px solid #fff;*/
    background-color:#111727;
    box-shadow: 5px 0px 2px #090f1f;
    color: #fff;
}
header .song_side{
    width: 75%;
    background: #0b1320;
}
header .master_play{
    width:100%;
    height: 10%;
    background: #111727;
    box-shadow: 0px 3px 8px #090f1f;
}
header .menu_side h1{
    font-size: 20px;
    margin:15px 0px 0px 20px;
    font-weight:500;
}
header .menu_side .Playlist{
    margin:30px 0px 0px 20px;
}
header .menu_side .Playlist h4{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 5px;
    color:#4c5262;
    cursor:pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
}
header .menu_side .Playlist h4:hover{
    color:#fff;
}
header .menu_side .Playlist h4 span{
    position: relative;
    margin-right: 35px;
}
header .menu_side .Playlist h4 span::before{
    content:'';
    position:absolute;
    width: 4px;
    height: 4px;
    border:2px solid #4c5262;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}
header .menu_side .Playlist h4:hover span::before{
    border: 2px solid #fff;
}
header .menu_side .Playlist h4 .bi{
    display: none;
}
header .menu_side .Playlist .active{
    color:#36e2ec;
}
header .menu_side .Playlist .active span{
    display: none;
}
header .menu_side .Playlist .active .bi{
    display: flex;
    margin-right: 20px;
}
header .menu_side .menu_song{
    width:99% ;
    height:295px ;
    border: 1px solid #fff;
    margin-top: 40px;
}
header .menu_side .menu_song li{
    list-style-type: none;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
}
header .menu_side .menu_song li span{
    font-size: 12px;
    font-weight: 400;
    color:#4c5262;
}
header .menu_side .menu_song li img{
    width: 32px;
    height: 32px;
    margin-left: 25px;
}
header .menu_side .menu_song li h5{
    font-size: 11px;
    margin-left: 15px;
}
header .menu_side .menu_song li h5 .subtitle{
    font-size: 9px;
    color:#4c5262;
}